<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard General</title>

  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
	<div class="page">
    	<app-navbar></app-navbar>
    	<div id="content-wrapper" class="d-flex flex-column">
    		<div class="content">
    			<section class="section section-container" style="padding-bottom: 10px;">
    				<div class="box">
    					<div class="row" style="margin-bottom: 2%;">
                <div class="col">              
                </div>
                <div class="col">
                  <h2>Maquinaria</h2>
                </div>
              <div class="col">
                <button class="btn btn-light" type="button" name="button" (click)="NuevaMaq()" style="height:100px;">
                  <img class="d-inline-block align-center" src="../assets/icons/svg/plus.svg"  width="72" alt="">
                  <br>
                  <h6>Agregar nueva</h6>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-12" style="color:#4C4C4E; padding-left: 13%;">
                <div *ngIf="addmaq">
                  <form [formGroup]="MaqAddform">
                    <div class="row" style="color:#4C4C4E; padding-left: 10%;">
                      <div class="col-10">
                        <label><b>Identificación</b></label><br>
                        <input class="input" clearInput style="width: 60%;" type="text"  formControlName="identificacion">
                      </div>
                    </div>
                    <div class="row" style="color:#4C4C4E; padding-left: 10%;">
                      <div class="col-10">
                        <label><b>Tipo</b></label><br>
                        <select class="form-control" style="width: 70%;" formControlName="tipo">
                          <option *ngFor="let tp of Tipo$.data" value="{{tp.nombre_tipo}}">{{tp.nombre_tipo}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row" style="color:#4C4C4E; padding-left: 10%;">
                      <div class="col-10">
                        <label><b>Máquina</b></label><br>
                        <div class="row">
                          <div class="col-5">
                            <label>Marca</label><br>
                            <input class="input" clearInput style="width: 60%;" type="text"  formControlName="marca">
                          </div>
                          <div class="col-5">
                            <label>Modelo</label><br> 
                            <input class="input" clearInput style="width: 60%;" type="text"  formControlName="modelo">  
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5" style="padding-left: 80%; padding-bottom: 3%; padding-top: 2%;">
                      <button type="button" (click)="SubmitAddMaq()" [disabled]="!MaqAddform.valid" class="btn btn-success">Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div> 
            </div>

 					<table class="table table-bordered">
                			<thead>
                		  		<tr>
                		  		  <th class="col-1" >#</th>
                		  		  <th class="col-3" >Identificación</th>
                		  		  <th class="col-3" >Tipo</th>
                		  		  <th class="col-3" >Modelo</th>
                		  		  <th class="col-1" ></th>
                		  		</tr>
                			</thead>
                	
                			<tbody>
                		  		<tr *ngFor="let maq of Maq$.data | paginate:{itemsPerPage: 8, currentPage:p}">
                		    		<th style="text-align: center;" scope="row">Maq_{{maq.idMaq}}</th>
                		    		<td>{{maq.identificacion}}</td>
                		    		<td>{{maq.tipo}}</td>
                		    		<td>{{maq.marca}}, {{maq.modelo}}</td>
                		    		<td>
                		      			<a (click)="gotoDetails(maq.idMaq)" class="btn btn-info" style="color:white;">Detalles</a>
                		    		</td>
                		  		</tr>
                			</tbody>
              			</table>
              			<pagination-controls (pageChange)="p=$event"></pagination-controls>
            		</div>
          		</section>
        	</div>
      	</div>
    </div>
</body>
